.launcher {
  @include window;

  .search {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    padding: 0.75rem;

    entry {
      font-size: 1.25rem;
      margin-left: 1rem;
      background-color: transparent;
      border: none;
    }

    .icon {
      font-size: 1.5rem;
    }
  }

  .item {
    color: $onSurface;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: mix($surface, $onSurface, 70%);
    }

    .title {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }
}
