.quick-settings {
  @include unset($rec: true);
  @include window;

  margin-right: 1rem;
  margin-top: 1rem;
  min-width: 10px;

  .avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 100%;
  }

  .sign-out {
    background-color: $surfaceVariant;
    color: $onSurface;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
    font-weight: bold;

    &:hover {
      background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
    }
  }

  .time {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .separator {
    font-size: 1.4rem;
    margin: 0 0.25rem;
    font-weight: bold;
  }

  .date {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .toggle-button {
    transition: 500ms;
    background-color: $surfaceVariant;
    color: $onSurface;
    border-radius: 1.5rem;
    padding: 0.75rem;
    font-size: 1.05rem;
    margin-top: 1rem;
    font-weight: bold;

    &:hover {
      background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
    }

    &.active {
      background-color: $primary;
      color: $surface;
    }
    &.active:hover {
      background-color: mix($primary, $onSurface, 70%);
    }

    .icon {
      font-size: 1.3rem;
      color: inherit;
    }

    .text {
      margin-left: 1rem;
    }

    .state {
      font-size: 0.9rem;
      color: $onSurfaceVariant;
    }

    &.active .state {
      color: $surfaceVariant;
    }
  }

  .volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
      color: $onSurface;
    }

    &.more {
      color: $surface;
    }
  }

  .volume-slider {
    slider {
      box-shadow: none;
      background-color: transparent;
      border: none;
    }

    &.muted {
      highlight,
      progress {
        background-color: $surfaceVariant;
      }
    }

    trough {
      background-color: $surfaceVariant;
      border-radius: 1rem;
      min-height: 2.25rem;

      highlight,
      progress {
        background-color: $primary;
        border-radius: 1rem;
        min-height: 2.25rem;
      }
    }
  }

  .volume-mute {
    background-color: $surfaceVariant;
    color: $onSurface;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;
    padding: 0 0.3rem 0 0.2rem;

    &:hover {
      background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
    }

    &.active {
      background-color: $primary;
      color: $surface;
    }

    &.active:hover {
      background-color: mix($primary, $onSurface, 70%);
    }
  }
}
