* {
  all: unset;
  font-family: JetBrainsMono;
  font-weight: bold;
}

@import "scss/colors.scss";
@import "scss/lib.scss";

@import "scss/bar.scss";
@import "scss/tray.scss";
@import "scss/control-center.scss";
@import "scss/powermenu.scss";
@import "scss/launcher.scss";

@import "scss/indicator.scss";
@import "scss/keyboard.scss";
@import "scss/music.scss";
@import "scss/notifications.scss";
@import "scss/quick-settings.scss";
@import "scss/user.scss";
@import "scss/volume.scss";
@import "scss/bluetooth.scss";
@import "scss/logo.scss";
@import "scss/workspaces.scss";
