* {
    BG:    #11111bff;
    FG:    #cdd6f4ff;
    FGA:   #f38ba8ff;
    BGA:   #b4befeff;
    BDR:   #cba6f7ff;
    SEL:   #1e1e2eff;
    UGT:   #f38ba8ff;
    IMG:   #f9e2afff;
    OFF:   #585b70ff;
    ON:    #a6e3a1ff;
}
